:root {
  --main-font-color:rgb(73, 120, 29);
}

/* * {
  border: 1px solid;
  border-color: yellow;
} */

body {
  background-color: white;
  background-repeat: no-repeat;
  color: var(--main-font-color);
  font-family: montserrat;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
}

ul.navbar {
  display: flex;
  justify-content: center;
}

ul.navbar li {
  font-size: 2em;
  list-style-type: none;
  margin-left: 30px;
}

ul.navbar li:hover {
  color: #f1a208;
  cursor: pointer;
}


.welcome {
  
  font-size: 3em;
  text-align: center;
}

.information-bar {
  /* border: solid 1px var(--main-font-color); */
  display: flex;
  height: 100vh;
  width: 20%;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  color:black;
  padding-top:4%;
}

.user-info {
  /* border: solid 1px orange; */
  font-size: 0.75em;
  height: 25%;
  width: 100%;
}

.user-form {
  height: 50%;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.date-Selection {
  text-align: center;
}

.main-section {
  /* border: solid 1px orange; */
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.title-bar {
  /* border: solid 1px orange; */
  height: 25vh;
}

.data-display {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.widget{
  height: 45%;
  padding: 20px;
  width: 18%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:black;
  font-weight:200;
}

.hidden {
  display: none;
}



input {
  background-color: aliceblue;
}

select {
  background-color: aliceblue;
}

img {
  height:100%;
  width:100%;
  border-radius: 30px;
  padding: 10px;;
}

